worker_processes 1;

events {
    worker_connections 1024;
}

http {
    upstream redlm_api {
        server redlm-api:8000;
    }

    upstream ui {
        server redlm-ui:3000;
    }

    server {
        listen 80;

        # Proxy requests for /q-and-a and /mm-q-and-a to the FastAPI API service
        location ~ ^/(q-and-a|mm-q-and-a) {
            proxy_pass http://redlm_api;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        # Proxy all other requests to the VueJS (Nuxt) application
        location / {
            proxy_pass http://ui;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}
