llama-index==0.11.22
llama-index-embeddings-huggingface
llama-index-llms-nvidia
llama-index-llms-openai-like
llama-index-utils-workflow
llama-index-vector-stores-milvus
langfuse
fastapi[standard]
black
python-dotenv
jupyter
matplotlib